/*
#d1d7e0 - Smokish White
#d1e8e2 - Blueish White
#edf5e1 - Not Very White White
#5cdb95 - Mint
#379683 - Dark Blue Green
#116466 - Minty Dark Green
#05386B - Kinda Blue But Green
#2c3531 - Blackish Gray

Title Font - 'Libre Baskerville', serif
Other Font - 'Abel', sans-serif
*/

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 5000px;
    width: 1535px;
    background-color: #d1d7e0;
    font-family: 'Abel', sans-serif;
}

/* On Off Music */
#onoff-button {
    margin: 50px;
    top: 0;
    right: 0;
    display: block;
    position: fixed;
    z-index: 90;
}

#onoff-button button {
    padding: 10px;
    background-color: #d1e8e2;
    box-shadow: 3.75px 3.75px #116466;
    cursor: pointer;
    border: none;
    transition-duration: 1s;
}

#onoff-button button:hover {
    background-color: #116466;
    box-shadow: -3.75px -3.75px #379683;
}

#onoff-button button i {
    color: #2c3531;
}

#onoff-button button:hover i {
    color: #d1e8e2;
}

/* Always Display Icon */
.titlebox-topleft {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Always Menu */
.left-menu {
    padding-right: 90px;
    top: 350px;
    left: 0px;
    display: none;
    position: fixed;
    flex-direction: column;
    color: #d1e8e2;
    background-image: linear-gradient(90deg, #05386BCF 100px, #d1d7e0 1000px);
    box-shadow: 10px 10px #2c3531, 
                10px -10px #2c3531,
                0 10px #d1d7e0,
                0 -10px #d1d7e0,
                -10px 20px #116466,
                -10px -20px #116466;
    z-index: 100;
}

.left-menu span {
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateX(-100px);
    animation-name: slideOut;
    animation-duration: 2.5s;
    animation-delay: calc(.5s * var(--lf));
    animation-fill-mode: forwards;
}

.left-menu span a {
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.active {
    font-size: 20px !important; /* Active Left Menu */
}

.left-menu span .line-pointer {
    width: 0;
    height: 2px;
    position: absolute;
    transition-timing-function: ease-out;
    transition-duration: .5s;
    transform: translate(-400px, 9px);
}

.left-menu span:hover .line-pointer, .active-line {
    width: 300px;
    height: 2px;
    position: absolute;
    background-color: #d1e8e2;
    transform: translate(-312.5px, 13px);
}

@keyframes slideOut {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Animated Title Icon Page */
.titlebox-middle {
    display: flex;
    position: fixed;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(-100px);
    animation-name: fadeOutDown;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Body Container */
.body-container {
    height: 697px;
    width: 1535px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* All Page */
.main-page, .second-page, .third-page, .fourth-page, .fifth-page, .sixth-page {
    height: 697px;
    width: 1535px;
    position: fixed;
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Main Page */
.main-page .parallax-img {
    height: 450px;
    width: 450px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%, 85%;
    transition-timing-function: cubic-bezier(.27,.63,.6,.77);
    transition-duration: 1s;
}

.main-page #pi1 {
    background-image: url(Pictures/Black.png);
    transform: translate(0px, 0px);
    z-index: 100;
}

.main-page #pi2 {
    background-image: url(Pictures/circle.png);
    transform: translate(0px, 0px);
    z-index: 99;
}

/* Navigation Button */
.nav-button {
    height: 500px;
    width: 500px;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    position: absolute;
}

.nav-button span {
    position: absolute;
    top: 212.5px;
    left: -100px;
    transform: rotate(calc(360deg / 6 * var(--icon)));
    transform-origin: 350px;
}

.nav-button span a {
    color: #2c3531;
    text-decoration: none;
    cursor: pointer;
}

.nav-button span a p {
    position: absolute;
}

.nav-button span:nth-child(1) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(-125px, 25px);
}

.nav-button span:nth-child(2) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(70px, 5px);
}

.nav-button span:nth-child(3) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(90px, -25px);
}

.nav-button span:nth-child(4) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(110px, -25px);
}

.nav-button span:nth-child(5) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(-100px, 20px);
}

.nav-button span:nth-child(6) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(-90px, 30px);
}

.nav-button span a i {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1e8e2;
    box-shadow: 3.75px 3.75px #116466;
    border-radius: 50px;
    transform: rotate(calc(360deg / -6 * var(--icon)));
    transition-duration: 1s;
}

.nav-button span a:hover i {
    color: #d1e8e2;
    background-color: #116466;
    box-shadow: -3.75px -3.75px #379683;
}

/* All Page and Slide Container (Start from second to sixth) */
.scd-container, .trd-container, .frh-container, .fid-container, .sxt-container {
    height: 450px;
    width: 850px;
    position: absolute;
    color: #2c3531;
    background-color: #edf5e1;
    box-shadow: 5px 5px 5px #d1e8e2, -5px -5px 5px #d1e8e2;
    transform: translate(150px, 37.5px);
    overflow: hidden;
}

.scd-slide, .trd-slide, .frh-slide, .fid-slide, .sxt-slide {
    height: 450px;
    width: 850px;
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* Second Page */
.scd-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 225px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.5px;
    color: #d1e8e2;
    background-color: #2c3531;
    box-shadow: 10px 0px #5cdb95;
    z-index: 100;
}

.scd-imagebox {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #05386B, #116466, #379683);
    opacity: 0;
    transform: rotate(0deg) translateX(-100px);
    animation-name: scdFlyLeft;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes scdFlyLeft {
    0% {
        opacity: 0;
        transform: rotate(0deg) translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: rotate(2.5deg) translateX(0px);
    }
}

.scd-imagebox img {
    max-width: 100%;
    transform: rotate(-5deg);
}

.scd-textbox {
    padding-left: 15px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: justify;
    border-left: 2.5px solid #116466;
    border-bottom: 2.5px solid #116466;
    overflow-y: scroll;
}

.scd-slide-button {
    height: 30px;
    width: 100px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3531;
}

.scd-slide-button i {
    color: #49524e;
}

.scd-slide-button i:hover {
    color: #5cdb95;
}

/* Third Page */
.trd-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 525px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.5px;
    color: #d1e8e2;
    background-color: #2c3531;
    box-shadow: -10px 0px #05386BBB;
    z-index: 100;
}

.trd-textbox {
    padding-right: 15px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: justify;
    border-right: 2.5px solid #116466;
    border-bottom: 2.5px solid #116466;
    overflow-y: scroll;
}

.trd-imagebox {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #edf5e1, #cdd4c1);
    box-shadow: 0 0 #2c3531;
    overflow: hidden;
    opacity: 0.1;
    transform: skewX(10deg) skewY(-30deg);
    animation-name: trdBlinkIn;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes trdBlinkIn {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        box-shadow: 7.5px 7.5px #2c3531;
    }
}

.trd-imagebox img {
    max-height: 100%;
    transform: skewX(-10deg) skewY(30deg);
}

.trd-slide-button {
    height: 30px;
    width: 150px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3531;
}

.trd-slide-button i {
    color: #49524e;
}

.trd-slide-button i:hover {
    color: #5cdb95;
}

/* Fourth Page */