* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* For Body */
body {
    font-family: 'Montserrat', sans-serif;
}

/* For Header */
header {
    font-family: 'Raleway', sans-serif;
}