/*
#d1d7e0 - Smokish White
#d1e8e2 - Blueish White
#edf5e1 - Not Very White White
#5cdb95 - Mint
#379683 - Dark Blue Green
#116466 - Minty Dark Green
#05386B - Kinda Blue But Green
#2c3531 - Blackish Gray

Title Font - 'Libre Baskerville', serif
Other Font - 'Abel', sans-serif
*/

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 8000px;
    width: 1535px;
    background-color: #d1d7e0;
    font-family: 'Abel', sans-serif;
}

/* Always On Off Music */
.music-container {
    margin-top: 50px;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.music-container button {
    padding: 10px;
    background-color: #d1e8e2;
    box-shadow: 5px 5px #379683;
    border: none;
    cursor: pointer;
    transition-duration: 1s;
}

.music-container button:hover {
    color: #d1e8e2;
    background-color: #379683;
    box-shadow: -5px -5px #116466;
}

.music-container button i {
    color: #2c3531;
    transition-duration: 1s;
}

.music-container button:hover i {
    color: #d1e8e2;
}

.music-container span {
    opacity: 0;
    transform: translateX(200px);
    transition-duration: calc(.5s * var(--ro));
}

.music-container:hover span {
    opacity: 1;
    transform: translateX(0);
}

.music-container span button {
    width: 200px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 1px;
}

/* Display Song Name */
.displayName {
    top: 25px;
    position: fixed;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 0;
    z-index: 100;
    animation-name: none;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes InOut {
    0% { 
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Always Rotating Record Disc */
.record-container {
    height: 500px;
    width: 500px;
    bottom: -200px;
    right: -200px;
    position: fixed;
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #221f1f;
    z-index: -1;
    animation-name: none;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.record-image {
    height: 300px;
    width: 300px;
    border: 10px solid #edf5e1;
    border-radius: 50%;
    overflow: hidden;
}

.record-image img {
    max-height: 100%;
    transform: translateX(-175px);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Always Display Icon */
.titlebox-topleft {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* Always Menu */
.left-menu {
    padding-right: 60px;
    top: 350px;
    left: 0px;
    display: none;
    position: fixed;
    flex-direction: column;
    color: #d1e8e2;
    background-color: #3d74aa;
    box-shadow: none;
    transform: translateX(-200px);
    z-index: 100;
    animation-name: menuSlideOut;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes menuSlideOut {
    0% {
        box-shadow: none;
        transform: translateX(-200px);
    }
    25% {
        box-shadow: 5px 5px #d1d7e0,
                    5px -5px #d1d7e0,
                    0 0 #2c3531, 
                    0 0 #2c3531;
    }
    50% {
        box-shadow: 5px 5px #d1d7e0,
                    5px -5px #d1d7e0,
                    10px 10px #2c3531, 
                    10px -10px #2c3531, 
                    0 0 #d1d7e0,
                    0 0 #d1d7e0;
    }
    100% {
        box-shadow: 5px 5px #d1d7e0,
                    5px -5px #d1d7e0,
                    10px 10px #2c3531, 
                    10px -10px #2c3531, 
                    -10px 10px #d1d7e0,
                    -10px -10px #d1d7e0,
                    20px 0 #05386BB8;
        transform: translateX(0px);
    }
}

.left-menu span {
    margin-left: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateX(-100px);
    animation-name: slideOut;
    animation-duration: 1.5s;
    animation-delay: calc(.5s * var(--lf));
    animation-fill-mode: forwards;
}

@keyframes slideOut {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.left-menu span a {
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.left-menu span a:hover {
    font-size: 18px;
}

.left-menu span .line-pointer {
    width: 0;
    height: 2px;
    position: absolute;
    transition-timing-function: ease-out;
    transition-duration: .5s;
    transform: translate(-400px, 9px);
}

.left-menu span:hover .line-pointer {
    width: 300px;
    height: 2px;
    position: absolute;
    background-color: #d1e8e2;
    transform: translate(-312.5px, 9px);
}

/* Animated Title Icon Page */
.titlebox-middle {
    display: flex;
    position: fixed;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(-100px);
    animation-name: fadeOutDown;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.notify {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.notify:nth-child(1) {
    left: -150px;
}

.notify:nth-child(2) {
    left: -75px;
}

.notify:nth-child(3) {
    right: -75px;
}

.notify:nth-child(4) {
    right: -150px;
}

.notify span {
    padding: 5px;
    font-size: 26px;
}

.notify span:nth-child(odd) {
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.notify span:nth-child(even) {
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.titlebox-middle video {
    transform: translateY(-50px);
}

.copyright-box {
    height: 150px;
    width: 500px;
    bottom: -112.5px;
    position: fixed;
    overflow: hidden;
}

.copyright-box img {
    max-width: 80%;
    transform: translate(50px, -100px);
}

/* Body Container */
.body-container {
    height: 697px;
    width: 1535px;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* All Page */
.main-page, .second-page, .third-page, .fourth-page, .fifth-page, .sixth-page {
    height: 697px;
    width: 1535px;
    position: fixed;
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Main Page */
.main-page .parallax-img {
    height: 450px;
    width: 450px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%, 85%;
    transition-timing-function: cubic-bezier(.27,.63,.6,.77);
    transition-duration: 1s;
}

.main-page #pi1 {
    background-image: url(Pictures/Black.png);
    transform: translate(0px, 0px);
    z-index: 100;
}

.main-page #pi2 {
    background-image: url(Pictures/circle.png);
    transform: translate(0px, 0px);
    z-index: 99;
}

/* Navigation Button */
.nav-button {
    height: 500px;
    width: 500px;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    position: absolute;
}

.nav-button span {
    position: absolute;
    top: 212.5px;
    left: -100px;
    transform: rotate(calc(360deg / 6 * var(--icon)));
    transform-origin: 350px;
}

.nav-button span a {
    color: #2c3531;
    text-decoration: none;
    cursor: pointer;
}

.nav-button span a p {
    position: absolute;
}

.nav-button span:nth-child(1) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(-125px, 25px);
}

.nav-button span:nth-child(2) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(70px, 5px);
}

.nav-button span:nth-child(3) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(90px, -25px);
}

.nav-button span:nth-child(4) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(110px, -25px);
}

.nav-button span:nth-child(5) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(-100px, 20px);
}

.nav-button span:nth-child(6) a p {
    transform: rotate(calc(360deg / -6 * var(--icon))) translate(-90px, 30px);
}

.nav-button span a i {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1e8e2;
    box-shadow: 3.75px 3.75px #116466;
    border-radius: 50px;
    transform: rotate(calc(360deg / -6 * var(--icon)));
    transition-duration: 1s;
}

.nav-button span a:hover i {
    color: #d1e8e2;
    background-color: #116466;
    box-shadow: -3.75px -3.75px #379683;
}

/* All Page and Slide Container (Start from second to fifth) */
.scd-container, .trd-container, .frh-container, .fid-container {
    height: 450px;
    width: 850px;
    position: absolute;
    color: #2c3531;
    background-color: #edf5e1;
    box-shadow: 7.5px 7.5px #d1e8e2, -7.5px -7.5px #d1e8e2;
    transform: translate(100px, 37.5px);
    overflow: hidden;
}

.scd-slide, .trd-slide, .frh-slide, .fid-slide {
    height: 450px;
    width: 850px;
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

/* Second Page */
.scd-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 275px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.5px;
    color: #d1e8e2;
    background-color: #2c3531;
    box-shadow: 10px 0px #5cdb95;
    z-index: 100;
}

.scd-textbox {
    padding-left: 15px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: justify;
    border-left: 2.5px solid #116466;
    border-bottom: 2.5px solid #116466;
    overflow-y: scroll;
}

.scd-imagebox {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #05386B, #116466, #379683);
    opacity: 0;
    transform: rotate(0deg) translateX(-100px);
    animation-name: scdFlyLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes scdFlyLeft {
    0% {
        opacity: 0;
        transform: rotate(0deg) translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: rotate(10deg) translateX(0px);
    }
}

.scd-imagebox img {
    max-height: 100%;
    transform: rotate(-15deg);
    box-shadow: -7.5px -7.5px #d1d7e0
}

.scd-slide:nth-child(1) .scd-imagebox img {
    max-height: 70%;
}

.scd-slide:nth-child(3) .scd-imagebox img {
    max-height: 80%;
}

.scd-slide-button {
    height: 30px;
    width: 120px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3531;
    overflow: hidden;
}

.scd-slide-button i {
    color: #edf5e1;;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.scd-slide-button i:hover {
    color: #49524e;
}

/* Third Page */
.trd-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 475px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.5px;
    color: #d1e8e2;
    background-color: #2c3531;
    box-shadow: -10px 0px #379683;
    z-index: 100;
}

.trd-textbox {
    padding-right: 15px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: justify;
    border-right: 2.5px solid #116466;
    border-bottom: 2.5px solid #116466;
    overflow-y: scroll;
}

.trd-imagebox {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #edf5e1, #cdd4c1);
    box-shadow: 0 0 #2c3531;
    overflow: hidden;
    opacity: 0.1;
    transform: skewX(10deg) skewY(-30deg);
    animation-name: trdBlinkIn;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes trdBlinkIn {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        box-shadow: 7.5px 7.5px #2c3531;
    }
}

.trd-imagebox img {
    max-height: 100%;
    transform: skewX(0deg) skewY(30deg);
}

.trd-slide-button {
    height: 30px;
    width: 200px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3531;
    overflow: hidden;
}

.trd-slide-button i {
    color: #edf5e1;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.trd-slide-button i:hover {
    color: #49524e;
}

/* Fourth Page */
.frh-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 275px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.5px;
    color: #d1e8e2;
    background-color: #2c3531;
    box-shadow: 10px 0px #116466;
    z-index: 100;
}

.frh-textbox {
    padding-left: 15px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: justify;
    border-left: 2.5px solid #116466;
    border-bottom: 2.5px solid #116466;
    overflow-y: scroll;
}

.frh-slide:nth-child(5) .frh-textbox {
    padding-bottom: 0;
    padding-right: 15px;
    height: 300px;
    width: 600px;
    border-left: 2.5px solid #116466;
    border-right: 2.5px solid #116466;
    border-bottom: none;
}

.frh-imagebox {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #5cdb95, #2c3531);
    box-shadow: 0 0 #2c3531;
    opacity: 0;
    transform: rotate(0deg) translateY(-400px);
    animation-name: frhDropIn;
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes frhDropIn {
    0% {
        box-shadow: 0 0 #2c3531;
        opacity: 0;
        transform: rotate(0deg) translateY(-400px);
    }
    40% {
        opacity: 0.5;
    }
    80% {
        box-shadow: -5px 5px #2c3531;
        opacity: 1;
        transform: rotate(5deg) translateY(-50px);
    }
    100% {
        box-shadow: -7.5px 7.5px #2c3531;
        opacity: 1;
        transform: rotate(10deg) translateY(0px);
    }
}

.frh-imagebox img {
    max-height: 100%;
    transform: rotate(-5deg) ;
}

.frh-slide:nth-child(1) .frh-imagebox img, .frh-slide:nth-child(3) .frh-imagebox img {
    max-height: 70%;
}

.frh-slide:nth-child(2) .frh-imagebox img {
    max-height: 75%;
}

.frh-slide:nth-child(4) .frh-imagebox img {
    max-height: none;
    max-width: 90%;
}

.frh-slide-button {
    height: 30px;
    width: 200px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3531;
    overflow: hidden;
}

.frh-slide-button i {
    color: #edf5e1;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.frh-slide-button i:hover {
    color: #49524e;
}

/* Fifth Page */
.fid-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 475px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.5px;
    color: #d1e8e2;
    background-color: #2c3531;
    box-shadow: -10px 0px #034d4e;
    z-index: 100;
}

.fid-textbox {
    padding-right: 15px;
    padding-bottom: 10px;
    height: 300px;
    width: 300px;
    position: relative;
    font-size: 22px;
    letter-spacing: 1.5px;
    text-align: justify;
    border-right: 2.5px solid #116466;
    border-bottom: 2.5px solid #116466;
    overflow-y: scroll;
}

.fid-imagebox {
    height: 300px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 0;
    box-shadow: none;
    animation-name: fidMorphBack;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(1,0,.6,.66);
    animation-fill-mode: forwards;
}

@keyframes fidMorphBack {
    0% {
        opacity: 0;
        box-shadow: none;
    }
    100% {
        opacity: 1;
        box-shadow: 10px -10px #116466, 20px -20px #379683, 30px -30px #5cdb95;
    }
}

.fid-imagebox img {
    max-height: 100%;
}

.fid-slide:nth-child(1) .fid-imagebox img {
    transform: translateX(-50px);
}

.fid-slide-button {
    height: 30px;
    width: 160px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3531;
    overflow: hidden;
}

.fid-slide-button i {
    color: #edf5e1;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.fid-slide-button i:hover {
    color: #49524e;
}

/* Sixth Page */
.sxt-title {
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 300px;
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 10px;
    color: #52451D;
    background-color: #B89A42;
    box-shadow: -10px 0 #917A34, 10px 0 #917A34;
    z-index: 100;
}

.sxt-container {
    height: 450px;
    width: 850px;
    position: absolute;
    background-color: #DEBA50;
    box-shadow: 7.5px 7.5px #917A34, -7.5px -7.5px #917A34;
    transform: translate(100px, 37.5px);
    overflow: hidden;
}

.sxt-slide {
    height: 450px;
    width: 850px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.bamboo-slot {
    margin-top: 45px;
    height: 350px;
    width: 50px;
    background-color: #52451D;
    box-shadow: 7.5px 0 #B89A42;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.5,-0.5,.2,1.5);
}

.bamboo-content-one {
    height: 350px;
    width: 50px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
}

.bamboo-content-two {
    padding: 10px;
    height: 350px;
    width: 50px;
    display: none;
    position: absolute;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
}

.bamboo-content-one i {
    padding: 15px;
    color: #DEBA50;
    border-bottom: 10px double #917A34;
}

.bamboo-content-one h3 {
    padding-bottom: 10px;
    color: #DEBA50;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 2px;
}

.bamboo-content-two {
    color: #52451D;
    letter-spacing: 2px;
}

.bamboo-slot:hover {
    height: 350px;
    width: 200px;
    background-color: #B89A42;
    box-shadow: 7.5px 0 #52451D;
}

.bamboo-slot:hover .bamboo-content-one {
    display: none;
    opacity: 0;
}

.bamboo-slot:hover .bamboo-content-two {
    display: flex;
    opacity: 1;
}

